.About-kemet{
    /* color:#628199; */
    color: #0c5555;
    font-size: 2rem;
    font-family: 'Minion Pro bold Condensed';
    margin-top: 2rem;
   
}
.About-kemet-description{
    color: #c67b2f ;
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 4rem;
}