.About-kemet{
    /* color:#628199; */
    color: #0c5555;
    font-size: 2rem;
    font-family: 'Minion Pro bold Condensed';
    margin-top: 120px;
   
}
.About-kemet-description{
    color: #c67b2f ;
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 120px;
}