video{
    width:100%;
    height: 100vh;
    object-fit: cover;
    position: relative;    
}
.content{
    position: absolute;
    top:70%;
    left: 10%;
}
.arch-word{
    font-family: 'Minion Pro bold Condensed';
    color: white;
}
.Explore-button-video{
  color: white;
  font-size: 1.5rem;
  width: 100px;
  padding: 10px !important;
  border: 1px solid rgb(98, 129, 153) !important;
  border-bottom-left-radius: 20px !important;
  background-color: rgb(98, 129, 153) !important;
  border: none;
}
.Explore-button-video:hover{
    background-color: rgb(98, 129, 153);
    border: none;
    color: #fdfeff;
}
